.DS_Store

#Ignore CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

#Ignore User specific files
*.xcuserstate
xcuserdata
codesigndoc_exports/

#DerivedData
DerivedData/